In [1]:
print('hello')

hello

# 01. intro

## 단축기

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt + enter: 지금 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple
2. git add . / git add.
3. message / massage

In [1]:
# 주석을 나타냅니다.

# 1. 변수

변수이름 = 값

- 변수이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, _ 를 이용하여 선언
- 키워드는 사용 불가

In [3]:
a = 10

In [4]:
a

10

In [5]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1.1 number

In [7]:
a = 10000000

In [8]:
a

10000000

In [16]:
type(a)  # 정수

int

In [10]:
b = 1.1

In [11]:
b

1.1

In [17]:
type(b)  # 소수

float

In [13]:
c = 1 - 4j

In [14]:
c

(1-4j)

In [19]:
type(c)  # 허수

complex

In [22]:
c.imag  # 허수부분

-4.0

In [23]:
c.real  # 실수부분

1.0

### 1.2 Boolean

True, False로 이루어진 타입

In [24]:
a = True

In [25]:
type(a)

bool

In [26]:
b = False

In [27]:
type(b)

bool

### 1.3 None

In [29]:
a = None

In [30]:
type(a)

NoneType

### 1.4 String

- 문자열은 `'` `"` 를 이용하여 표현
- 둘 중 하나를 선택했으면 그것으로 통일해서 진행

In [31]:
a = 'hello'

In [32]:
type(a)

str

In [33]:
b = "world"

In [34]:
type(b)

str

In [1]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

In [37]:
print('안녕하세요? "조민진"입니다.')

안녕하세요? "조민진"입니다.

In [39]:
print('안녕하세요? \'조민진\'입니다.')

안녕하세요? '조민진'입니다.

In [48]:
a = '''
여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성 할 수 있습니다.
'''

In [49]:
print(a)

여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성 할 수 있습니다.

In [40]:
print('엔터를 입력해봐요 \n다음줄입니다. \t들여쓰기도 가능합니다')

엔터를 입력해봐요
다음줄입니다. 	들여쓰기도 가능합니다

In [43]:
print('하나', '둘', '셋', sep='\t')

하나	둘	셋

### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [2]:
age = 20

In [45]:
print('홍길동은 %s 살입니다.' % age)

홍길동은 20 살입니다.

In [46]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 20살입니다.

In [47]:
print(f'홍길동은 {age}살입니다.')

홍길동은 20살입니다.

In [3]:
print('홍길동은 %s살입니다.' %age)

홍길동은 20살입니다.

## 2. 연산자

### 2.1 산술연산자

In [54]:
a = 2
b = 3

In [55]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

5
-1
6
0.6666666666666666
8

In [59]:
# a를 b로 나눈 몫
print(a // b) 
# a를 b로 나누고 나머지 출력
print( a % b)
# a를 b로 나눈 몫, 나머지
print(divmod(a,b))

0
2
(0, 2)

### 2.2 비교연산자

In [60]:
a = 5
b = 10

In [62]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [63]:
print(a == b)  # 같다
print(a != b)  # 다르다

False
True

In [65]:
print('hi' == 'hi')
print('HI' == 'hi')

True
False

### 2.3 논리연산자

- and : 양쪽 모두 True일때, True를 반환
- or : 양쪽 모두 False일때, False를 반환
- not : 값을 반대로 전환

In [67]:
print(True and True)
print(True and False)  # 하나라도 False면 False로 출력
print(False and True)
print(False and False)

True
False
False
False

In [68]:
print(True or True)
print(True or False)  
print(False or True)
print(False or False)

True
True
True
False

In [69]:
print(True)
print(not True)

True
False

In [4]:
# 단축평가
print(3 and 5) # 3: true, 0: false -> true면 뒤에 출력
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [5]:
print(3 or 5)  # 3: true, 0: false -> true면 앞에 출력
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

### 2.4 복합연산자

In [78]:
a = 1
b = 2

In [82]:
a = a + b # 덧셈 후 할당
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [84]:
a += b 
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

### 2.5 기타연산자

In [7]:
a = 'hi'
b = 'hello'

In [8]:
# concatenation 연결
a + b

'hihello'

In [89]:
a = [1, 2, 3]
b = [4, 5, 6]

In [92]:
# concatenation
a + b

[1, 2, 3, 4, 5, 6]

In [96]:
# containment 포함
print('a' in 'apple')
print('z' in 'apple')

True
False

In [97]:
print(1 in [1, 2, 3])
print(10 in [1, 2, 3])

True
False

In [103]:
# identity
a = 1
b = 1
print(a is b) # 메모리 주소가 같은 것
print(id(a))
print(id(b))

True
140728744338216
140728744338216

In [9]:
# identity
a = 123123
b = 123123
print(a is b) # 메모리 주소가 달라서 다른 데이터로 인식
print(id(a))  # is 키워드: 완벽하게 동일한 것
print(id(b))

False
2611615513296
2611615513424

#### 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [108]:
# 3 ** 4 계산 후 - 계산한 것
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환

### 3.1 암시적 형변환

In [112]:
a = True
b = False
c = 1

In [114]:
# True는 1 False는 0
print(a + c)
print(b + c)

2
1

In [115]:
int_num = 3
float_num = 3.3
complex_num = 1 + 3j

In [118]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

### 3.2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- string() : int, float 등을 string으로 변환
- bool() : int, list 등을 boolean으로 변환

In [119]:
a = 1
b = '번'

In [121]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [122]:
print(str(a) + b)

1번

In [123]:
a = '3'

In [124]:
type(int(a))

int

In [125]:
a = '3.3'

In [126]:
type(int(a))

ValueError: invalid literal for int() with base 10: '3.3'

In [127]:
type(float(a))

float

In [193]:
a = 1
b = 0

In [194]:
bool(a)

True

In [195]:
bool(b)

False

In [196]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스 (sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료 구조. (순서대로 나열되었다는 것은 정렬된 것과 다르다)

1. 리스트
2. 튜플
3. 레인지
4. 문자열

### 4.1 List (배열)

- 선언 : 변수이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

In [199]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [148]:
location = ['서울', '대구', '대전']
print(location)
print(location[1])
location[1] = '부산'
print(location)

['서울', '대구', '대전']
대구
['서울', '부산', '대전']

In [145]:
a = 1
print(a)
a = 'hi'
print(a)

1
hi

### 4.2 Tuple

- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutable)하다.

In [147]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [149]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [1]:
x, y = 1, 2    # 여러 개의 데이터를 동시에 할당하는 것이 가능
print(x, y)

x, y = y, x    # 위치를 바꿔서 할당하는 것도 가능
print(x, y)

1 2
2 1

### 4.3 range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 +s만큼 증가하는 범위

In [153]:
a = range(1)
print(type(a))

<class 'range'>

In [155]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:
a = range(5, 15)
print(list(a))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [157]:
a = range(1, 10, 2)
print(list(a))

[1, 3, 5, 7, 9]

In [158]:
a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

### 4.4 String

기본 데이터 구조 참고

### 4.5 시퀀스에서 활용가능한 연산/함수

In [3]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 100)
my_string = '12345'

In [4]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [4]:
# slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [172]:
# slicing (k간격으로)
list(my_range[2:6:2])

[3, 5]

In [168]:
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

True
True
True
True

In [169]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [173]:
# concatenation
print(my_list + [1, 2, 3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [175]:
# *
print([0] * 10)
print([[0] * 10] * 10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [176]:
print(len(my_list))

5

In [177]:
print(min(my_list))

1

In [178]:
print(max(my_list))

5

In [179]:
my_list.count(1)

1

## 5. 시퀀스 데이터가 아닌 자료구조

### 5.1 Set

수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)

- 선언 : 변수이름 = {value1, value2, value3 ...}

In [183]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

In [184]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [185]:
my_list = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7]
print(list(set(my_list)))

[1, 2, 3, 4, 5, 6, 7]

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 것을 사용 가능 (불변값 : string, integer)
- value에는 모든 데이터 가능 (list, dictionary도 가능)

In [188]:
my_dict = {'서울': '02', '경기도': '031'}
my_dict['서울']

'02'

In [189]:
dict_a = {
    'name' : 'minjin',
    'location' : 'seoul1',
    'location' : 'seoul2',
}

In [190]:
print(dict_a)

{'name': 'minjin', 'location': 'seoul2'}

In [191]:
dict_a.keys()

dict_keys(['name', 'location'])

In [192]:
dict_a.values()

dict_values(['minjin', 'seoul2'])

# 데이터 타입

1. Number
2. Boolean
3. String

# 자료구조
- 시퀀스 자료형
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

- 시퀀스가 아닌 자료형
1. {Set} : mutable
2. {Dictionary} : mutable