## 함수(function)

In [2]:
height = 10
width = 20

height2 = 50
width2 = 80

# 직사각형의 둘레는 ***, 면적은 *** 입니다.

area = height * width
perimeter = (height + width) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

area = height2 * width2
perimeter = (height2 + width2) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

직사각형의 둘레는 60, 면적은 200입니다.
직사각형의 둘레는 260, 면적은 4000입니다.

## 함수의 선언과 호출

- 함수의 선언
```python
def func_name(parameter1, parameter2...):
    code1
    code2
    ...
    return value
```

- 함수의 호출(실행)
```python
func_name(parameter1, parameter2)
```

In [6]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2
    print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

In [7]:
rectangle(10, 20)

직사각형의 둘레는 60, 면적은 200입니다.

In [8]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [9]:
max(1,5)

5

In [1]:
# 두개의 정수를 받아서 큰 수를 출력
def my_max(num1, num2):
    if num1 > num2:
        # 1이 더 큰 경우
        print(f'{num1}이 더 큽니다.')
    elif num1 < num2:
        # 2가 더 큰 경우
        print(f'{num2}가 더 큽니다.')
    else:
        print('두 수가 같습니다')
    # return None

In [2]:
my_max(2,5)

5가 더 큽니다.

In [15]:
result = my_max(10,10)
print(result)

두 수가 같습니다
None

## 함수의 return

- 함수가 return을 만나면 해당 값을 반환하고 함수를 종료
- 만약 return이 없다면 None을 자동으로 반환
- return은 오직 하나의 객체만 반환합니다.

- print와 달리 변수에 할당하거나 재사용 가능

In [7]:
# 두개의 정수를 받아서 큰 수를 출력
def my_max2(num1, num2):

    # return 'hello'
    
    if num1 > num2:
        # 1이 더 큰 경우
        return num1
    elif num1 < num2:
        # 2가 더 큰 경우
        return num2
    else:
        return 0

In [8]:
result = my_max2(1, 2)
print(f'{result}가 더 큽니다.')

2가 더 큽니다.

In [11]:
def my_list_max(list_a, list_b):
    if sum(list_a) > sum(list_b):
        return list_a # 하나만 반환 가능
    else:
        return list_b

In [12]:
my_list_max([10, 11], [11, 12])

[11, 12]

## 함수의 인수

### 위치 인수

기본적으로 함수는 인수의 위치로 판단합니다.

In [13]:
def cylinder(r, h):
    return 3.14 * r**2 * h

print(cylinder(10, 5))
print(cylinder(5, 10))

1570.0
785.0

### 기본값

```python
def func(p1=v1):
    return v1
```

In [7]:
def greeting(name):
    return f'{name}님 반갑습니다.'

print(greeting('민진'))
print(greeting()) # 필수적인 위치 인수가 빠져서 오류가 발생

민진님 반갑습니다.

TypeError: greeting() missing 1 required positional argument: 'name'

In [8]:
def greeting(name='익명'):          # 이렇게 기본값을 사용하면 이것이 출력됨
    return f'{name}님 반갑습니다.'

print(greeting('민진'))
print(greeting()) # 필수적인 위치 인수가 빠져서 오류가 발생

민진님 반갑습니다.
익명님 반갑습니다.

In [15]:
def greeting(name='익명' ,age):      # 기본인자가 아닌 것이 들어옴
    return f'{name}님은 {age}살입니다.'

SyntaxError: non-default argument follows default argument (3665218782.py, line 1)

In [14]:
def greeting(age, name='익명'):           # 순서는 위치인수를 사용한 후 기본값을 사용하는 것
    return f'{name}님은 {age}살입니다.'     # 값을 하나 입력하거나 두 개 입력했을 때 무엇인지 모르기 때문

print(greeting(10, '홍길동'))
print(greeting(20))

홍길동님은 10살입니다.
익명님은 20살입니다.

### 키워드 인자

함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 특정인자를 전달 가능

In [16]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

print(greeting(10, '홍길동'))
print(greeting(name='홍길동',age=10))

홍길동님은 10살입니다.
홍길동님은 10살입니다.

In [19]:
print('안녕')
print('안녕', '하세요', 'hi', 'hello', sep='!', end='?')  # sep은 사이사이 end는 마지막

안녕
안녕!하세요!hi!hello?

### 가변 인자 리스트
```python
def func(*params):
    pass
```

In [26]:
def my_print(*words):
    print(words)
    print(type(words))

my_print('hi', 'hello', '안녕', '하세요')  # *words에서 * : 인자가 몇개가 들어오더라도 하나의 데이터로 처리

('hi', 'hello', '안녕', '하세요')
<class 'tuple'>

In [1]:
def my_max(*numbers):
    print(numbers)

my_max(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [34]:
def my_max(*numbers):
    result = numbers[0]   # 0으로 하면 음수일때 오류가 생기므로 이렇게 설정

    for number in numbers:
        if result < number:
            result = number
    return result

In [33]:
print(my_max(1, 2, 3, 4, 5))
print(my_max(-1, -2, -3, -4, -5))

5
-1

In [31]:
max(-1, -2, -3, -4, -5)

-1

### 정의되지 않은 키워드 인자 처리하기

```python
def func(**kwargs):
    pass
```

In [36]:
info = {
    'name': 'hong',
    'age': 20,
}

print(info)

{'name': 'hong', 'age': 20}

In [38]:
info = dict(name='hong', age=20, iii=123)
print(info)

{'name': 'hong', 'age': 20, 'iii': 123}

In [39]:
def fake_dict(**kwargs):    # 하나의 dictionary로 묶이게 됨
    print(kwargs)
    print(type(kwargs))

fake_dict(korean='안녕', english='hello')

{'korean': '안녕', 'english': 'hello'}
<class 'dict'>

In [40]:
def fake_dict(**kwargs):    # 하나의 dictionary로 묶이게 됨
    for key, value in kwargs.items():
        print(f'{key}는 {value}입니다.')

fake_dict(korean='안녕', english='hello')

korean는 안녕입니다.
english는 hello입니다.

### dictionary를 인자로 넣기 (unpacking)

In [41]:
def sign_up(username, password, password_confirmation):
    if password == password_confirmation:
        print(f'{username}님 회원가입이 완료되었습니다.')
    else:
        print(f'비밀번호가 일치하지 않습니다.')

sign_up('minj', 'ochange' , 'hlmj3017')

비밀번호가 일치하지 않습니다.

In [43]:
my_account = {
    'username': 'minj12',
    'password': 'sd234',
    'password_confirmation': 'sd234',
}

sign_up(**my_account)

minj12님 회원가입이 완료되었습니다.

### lambda 표현식
```python
lambda parameter: expression
```

In [45]:
(lambda a, b: a + b)(1, 2)  # 리턴 코드 없음

3

In [46]:
def my_sum(a,b):
    return a + b

my_sum(1,2)  # 위의 lambda 코드와 같음

3

### 타입 힌트

In [15]:
def my_sum(num1: int, num2: int) -> int:  # 함수 어노테이션
    '''
    두 수의 합을 구하는 함수입니다.
    매개변수 num1, num2를 받아서 num1 + num2를 리턴합니다.
    '''
    return num1 + num2

my_sum(1, 2)
my_sum('1', 2)

TypeError: can only concatenate str (not "int") to str

### 이름공간 (scope)
파이썬에서 사용되는 이름들은 이름공간(namespace)에 저장되어있습니다.

- Local scope : 정의된 함수 내부
- Enclosed scope : 상위 함수
- Global scope : 함수 밖의 변수 혹은 import된 모듈
- Built-in scope : 파이썬이 기본적으로 가지고 있는 함수 혹은 변수

In [51]:
str = '123'

In [52]:
print(str)

123

In [53]:
str(789)

TypeError: 'str' object is not callable

In [54]:
del str

In [56]:
a = 1
def localscope(a):
    # a = 5            # 함수 내에 있는 것이 우선
    print(a)

localscope(5)

5

In [59]:
num = 10
def scope():
    global num
    num = 20
    print(num)

scope()
print(num) # 외부에 있는 전역 변수가 수정됨

20
20

## 재귀 (recursive)
재귀함수는 함수 내부에서 자기 자신을 호출하는 함수를 의미한다.

In [61]:
# 팩토리얼 (1 * 2 * ... * n = n!)
def fact(n):
    result = 1

    while n > 1:
        result = result * n
        # result *= n
        n = n - 1
        # n -= 1

    return result

fact(5)

120

```
1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3
```

```python
fact(5)
fact(fact(4) * 5)
fact((fact(3) * 4) * 5)

print('hello')
```

In [64]:
def factorial(n):
    if n <= 1:
        return 1
    else:
        return factorial(n-1) * n
        # 10! = 9! * 10 = ... = 1! = 1

factorial(5)

120

In [66]:
def test_error(n):
    return test_error(n)
test_error

### 피보나치 수열

```
F(0) = F(1) = 1
F(n) = F(n-1) + F(n-2)

```

In [1]:
# 반복문
def fib_loop(n):
    result = [1, 1]

    for i in range(1, n):
        end1 = result[-1]
        end2 = result[len(result)-2]
        fib_num = end1 + end2

        result.append(fib_num)
        
    return result[-1]

fib_loop(6)

13

In [68]:
# 재귀
def fib_rec(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib_rec(n-1) + fib_rec(n-2)

fib_rec(6)

13

In [69]:
a = [1, 2, 3, 4, 5]
a[-1]

5