# 01. intro

## 단축기

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt + enter : 지금 셀 실행 & 아래에 세로운 셀 추가

## 주의사항

1. Apple / apple        : 대소문자 구분
2. git add . / git add. : 띄어쓰기 구분
3. message / massage    : 철자 주의

In [1]:
# 주석을 나타낸다

# 1. 변수

변수이름 = 값

- 변수이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, _를 이용하여 선언
- 키워드는 사용 불가

In [4]:
# 1이 a에 할당됨
a = 1

In [3]:
a

1

In [6]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## 1.1 number

In [7]:
a = 1000

In [8]:
a

1000

In [9]:
type(a)

int

In [10]:
b = 1.2

In [11]:
b

1.2

In [12]:
type(b)

float

In [13]:
c = 1 - 4j

In [14]:
c

(1-4j)

In [15]:
type(c)

complex

In [17]:
c.imag   # 허수부분

-4.0

In [18]:
c.real   # 실수부분

1.0

## 1.2 Boolean

True, False로 이루어진 타입

In [19]:
a = True

In [21]:
type(a)

bool

In [22]:
b = False

In [23]:
type(b)

bool

## 1.3 None

In [24]:
a = None

In [25]:
type(a)

NoneType

## 1.4 String

- 문자열은 `'` `"`를 이용하여 표현
- 둘 중 하나를 선택했으면 그것으로 통일해서 진행

In [26]:
a = 'hi'

In [27]:
type(a)

str

In [28]:
age = input()
print(age)

 21

21

In [29]:
print(type(age))

<class 'str'>

In [30]:
print('안녕하세요? "조민진"입니다.')
print("안녕하세요? '조민진'입니다.")
print('안녕하세요? \'조민진\'입니다.')

안녕하세요? "조민진"입니다.
안녕하세요? '조민진'입니다.
안녕하세요? '조민진'입니다.

In [33]:
a = '''
여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.
'''

In [35]:
print(a)

여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.

In [36]:
print('엔터를 입력해라 \n다음줄 \t들여쓰기도 가능')
print('하나', '둘', '셋', sep='\t')

엔터를 입력해라
다음줄 	들여쓰기도 가능
하나	둘	셋

### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [37]:
age = 20

In [38]:
print('홍길동은 %s살입니다.' %age)

홍길동은 20살입니다.

In [39]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 20살입니다.

In [40]:
print(f'홍길동은 {age}살입니다.')

홍길동은 20살입니다.

# 2. 연산자

## 2.1 산술연산자

In [41]:
a = 2
b = 3

In [43]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

5
-1
6
0.6666666666666666
8

In [45]:
# a를 b로 나눈 몫
print(a // b)
# a를 b로 나누고 나머지 출력
print(a % b)
# a를 b로 나눈 몫, 나머지
print(divmod(a,b))   # tuple

0
2
(0, 2)

## 2.2 비교연산자

In [46]:
a = 1
b = 10

In [48]:
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)

False
False
True
True

In [49]:
print(a == b) # 같다
print(a != b) # 다르다

False
True

In [51]:
print('hi' == 'hi')
print('HI' == 'hi')

True
False

## 2.3 논리연산자

- and : 양쪽 모두 True일 때, True를 반환
- or : 양쪽 모두 False일 때, False를 반환
- not : 값을 반대로 전환

In [52]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [53]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [54]:
print(not True)

False

In [56]:
# 단축평가
# 3-> True, 0->False
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [58]:
# 3-> True, 0->False
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

## 2.4 복합연산자

In [59]:
a = 3
b = 4

In [61]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a ** b
a = a // b
a = a % b

In [62]:
a += b
a -= b
a *= b
a /= b
a **= b
a //= b
a %= b

## 2.5 기타연산자

In [63]:
a = 'hey'
b = 'minjin'

In [64]:
# concatenation
a + b

'heyminjin'

In [66]:
# containment
print('a' in 'apple')
print('z' in 'apple')

True
False

In [67]:
# identity
a = 1
b = 1
print(a is b) # 메모리 주소가 같음
print(id(a))
print(id(b))

True
140713902662440
140713902662440

In [68]:
# identity
a = 123123
b = 123123
print(a is b) # 메모리 주소가 달라서 다른 데이터로 인식
print(id(a))
print(id(b))

False
2454034284976
2454034285040

### 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자 in, is
5. not
6. and
7. or

# 형변환

## 3.1 암시적 형변환

In [69]:
a = True
b = False
c = 1

In [70]:
# True는 1이고 False는 0
print(a + c)
print(b + c)

2
1

In [80]:
int_num = 3
float_num = 3.3
complex_num = 1 + 3j

In [81]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

## 3.2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- string() : int, float 등을 string으로 변환
- bool() : int, list 등을 boolean으로 변환

In [71]:
a = 1
b = '번'

In [72]:
print(str(a)+b)

1번

In [73]:
a = '1'

In [74]:
type(int(a))

int

In [75]:
b = '2.2'

In [76]:
type(float(b))

float

In [77]:
a = 1
b = 0

In [78]:
bool(a)

True

In [79]:
bool(b)

False

# 4. 시퀀스 (sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료 구조. (순서대로 나열되었다는 것은 정렬된 것과 다르다)

1. 리스트
2. 튜플
3. 레인지
4. 문자열

## 4.1 List (배열)

- 선언 : 변수이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

In [82]:
location = ['서울', '대구', '대전']
print(location)
print(location[1])
location[1] = '부산'
print(location)

['서울', '대구', '대전']
대구
['서울', '부산', '대전']

## 4.2 Tuple

- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutable)하다.

In [83]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [84]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [85]:
x, y = 1, 2
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

## 4.3 range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 +s만큼 증가하는 범위

In [86]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
a = range(1, 10, 2)
print(list(a))

[1, 3, 5, 7, 9]

In [88]:
a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

## 4.4 String

기본 데이터 구조

## 4.5 시퀀스에서 활용가능한 연산/함수

In [89]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 100)
my_string = '12345'

In [90]:
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [91]:
# slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [92]:
# slicing (k간격으로)
list(my_range[2:6:2])

[3, 5]

In [93]:
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

True
True
True
True

In [94]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [95]:
# concatenation
print(my_list + [1, 2, 3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [97]:
print(len(my_list))
print(min(my_list))
print(max(my_list))
my_list.count(1)

5
1
5

1

# 5. 시퀀스 데이터가 아닌 자료구조

## 5.1 Set

수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)

- 선언 : 변수이름 = {value1, value2, value3 ...}

In [98]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

In [99]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [100]:
# 중복 허용 X
my_list = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7]
print(list(set(my_list)))

[1, 2, 3, 4, 5, 6, 7]

## 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 것을 사용 가능 (불변값 : string, integer)
- value에는 모든 데이터 가능 (list, dictionary도 가능)

In [101]:
my_dict = {'서울': '02', '경기도': '031'}
my_dict['서울']

'02'

In [102]:
dict_a = {
    'name' : 'minjin',
    'location' : 'seoul1',
    'location' : 'seoul2',
}

In [103]:
print(dict_a)

{'name': 'minjin', 'location': 'seoul2'}

In [104]:
dict_a.keys()

dict_keys(['name', 'location'])

In [105]:
dict_a.values()

dict_values(['minjin', 'seoul2'])

# 데이터 타입

1. Number
2. Boolean
3. String

# 자료구조
- 시퀀스 자료형
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

- 시퀀스가 아닌 자료형
1. {Set} : mutable
2. {Dictionary} : mutable

# 제어문

## 조건문(if문)

1. `if`문은 반드시 일정한 참/거짓을 판단할 수 있는 `조건식`과 함께 사용한다. `(if <조건식>:)`
2. `<조건식>`이 참인 경우 `:` 이후의 문장을 실행한다.
3. `<조건식>`이 거짓인 경우 `else:` 이후의 문장을 실행한다.

In [107]:
y_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다')

 122

크리스마스가 아닙니다

## elif

```
if <조건식>:
    if 조건이 참인 경우 실행
elif <조건식>:
    elif 조거이 참인 경우 실행
...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [110]:
score = int(input())

 96

In [111]:
# 90점 이상 A (95점이상 '참 잘했어요')
# 80점 이상 B
# 70점 이상 C
# 나머지 F

if score >= 90:
    print('A')
    if score >= 95:
        print('참 잘했어요')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

A
참 잘했어요

## 조건표현식

```python
true_value if <조건식> else false_value
```

In [112]:
num = 5
value = num if num >= 0 else 0
print(value)

5

In [113]:
num = 5
if num >= 0:
    value = num
else:
    value = 0

In [114]:
num = 2
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

In [116]:
num = 2
result = '홀수' if num % 2 == 1 else '짝수'

## 반복문

### while문
```python
while <조건식>:
    실행할 코드
```

In [1]:
a = 0
while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [2]:
greeting = ''

while greeting != 'hi':
    greeting = input('say hi : ')

say hi :  hello
say hi :  hi

## for

정해진 범위 내의 반복

```python
for variable in sequence:
    code
```

In [3]:
numbers = [1,2,3,4,5]

for number in numbers:
    print(number)

1
2
3
4
5

In [4]:
word = input('단어를 입력해주세요: ')

for char in word:
    print(char)

단어를 입력해주세요:  hello

h
e
l
l
o

In [7]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [8]:
# 1. 1~30까지 숫자 중에서 홀수 출력
# 2. 1~30까지 숫자 중에서 홀수들을 모아 리스트로 출력

numbers = range(31)
result = []

for number in numbers:
    if number % 2 == 1:
        result.append(number)

print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [9]:
menus = ['라면','김밥','돈까스']

for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '김밥')
(2, '돈까스')

In [10]:
menus = ['라면', '김밥', '돈까스']

for idx, menu in enumerate(menus):  # idx는 인덱스가 필요할 때
    print(idx)
    print(menu)

0
라면
1
김밥
2
돈까스

## dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [11]:
info = {
    'name': 'minjin',
    'location': 'seoul',
    'phone': '010-1234-1234',
}

In [14]:
for i in info:
    print(i)
    print(info[i])

name
minjin
location
seoul
phone
010-1234-1234

In [15]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

In [16]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():   # 더 명시적으로 표현
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [18]:
result = 0
for value in blood_type.values():
    result += value
print(f'총인원은 {result}명입니다.')

총인원은 14명입니다.

In [19]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

In [20]:
blood_type.items()

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

## break

반복문을 종료시키는 코드

In [21]:
for i in range(100):
    if i > 10:
        print('10 넘었어')
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
10 넘었어

In [22]:
rice = ['보리', '보리', '보리', '쌀', '보리']
# 보리, 보리, 보리, 쌀, 잡았다! => X

for i in rice:
    print(i)
    if i == '쌀':
        print('잡았다!')
        break

보리
보리
보리
쌀
잡았다!

## continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [23]:
for i in range(10):
    if i % 2:
        continue
    print(i)  # 홀수를 배제하고 짝수만 출력하는 코드

0
2
4
6
8

In [25]:
age = [10, 35, 20, 18, 9, 40]

for a in age:
    if a < 20:
        continue
    print(a)   # 성인만 출력

35
20
40

## else

else문은 끝까지 반복이 진행된 후 실행된다.

In [26]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
break 못만남

In [27]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3
4
5

In [28]:
numbers = [1, 3, 5, 7, 9]
target = 9

for number in numbers:
    # if문을 통해 내가 원하는 숫자가 있으면 True
    if number == target:
        print('True')
        break
    else:
        print('False')

False
False
False
False
True

## pass

In [29]:
if True:
    pass

## match
```python
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [31]:
status = 400

match status:
    case 400:
        print('Bad request')
    case 404:
        print('Not found')
    case _:
        print('something is wrong')

Bad request

## 함수(function)

In [32]:
height = 10
width = 20

height2 = 30
width2 = 40

# 직사각형의 둘레는 ***, 면적은 *** 입니다.

area = height * width
perimeter = (height + width) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

area = height2 * width2
perimeter = (height2 + width2) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

직사각형의 둘레는 60, 면적은 200입니다.
직사각형의 둘레는 140, 면적은 1200입니다.

## 함수의 선언과 호출

```python
def func_name(parameter1, parameter2...):
    code1
    code2
    ...
    return value
```

- 함수의 호출(실행)
```python
func_name(parameter1, parameter2)
```

In [33]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2
    print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

In [34]:
rectangle(10, 20)

직사각형의 둘레는 60, 면적은 200입니다.

In [35]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [36]:
# 두개의 정수를 받아서 큰 수를 출력
def my_max(num1, num2):
    if num1 > num2:
        # 1이 더 큰 경우
        print(f'{num1}이 더 큽니다.')
    elif num1 < num2:
        # 2가 더 큰 경우
        print(f'{num2}가 더 큽니다.')
    else:
        print('두 수가 같습니다')
    # return None

In [37]:
my_max(10,20)

20가 더 큽니다.

In [38]:
result = my_max(10,10)
print(result)

두 수가 같습니다
None

## 함수의 return

- 함수가 return을 만나면 해당 값을 반환하고 함수를 종료
- 만약 return이 없다면 None을 자동으로 반환
- return은 오직 하나의 객체만 반환합니다.
- print와 달리 할당하고 재사용 가능

In [39]:
# 두개의 정수를 받아서 큰 수를 출력
def my_max2(num1, num2):
    if num1 > num2:
        # 1이 더 큰 경우
        return num1
    elif num1 < num2:
        # 2가 더 큰 경우
        return num2
    else:
        return 0

In [40]:
result = my_max2(1, 2)
print(f'{result}가 더 큽니다.')

2가 더 큽니다.

In [41]:
def my_list_max(list_a, list_b):
    if sum(list_a) > sum(list_b):
        return
    else:
        return list_b

In [42]:
my_list_max([10, 11], [11, 12])

[11, 12]

## 함수의 인수

### 위치 인수
기본적으로 함수의 인수는 위치로 판단합니다.

In [1]:
def cylinder(r, h):
    return 3.14 * r**2 * h

print(cylinder(10, 5))

1570.0

### 기본값

```python
def func(p1=v1)
    return v1
```

In [2]:
def greeting(name):
    return f'{name}님 반갑습니다.'

print(greeting('민진'))
print(greeting())

민진님 반갑습니다.

TypeError: greeting() missing 1 required positional argument: 'name'

In [3]:
def greeting(name='익명'):          # 이렇게 기본값을 사용하면 이것이 출력됨
    return f'{name}님 반갑습니다.'

print(greeting('민진'))
print(greeting()) # 필수적인 위치 인수가 빠져서 오류가 발생

민진님 반갑습니다.
익명님 반갑습니다.

In [4]:
def greeting(name='익명' ,age):      # 기본인자가 아닌 것이 들어옴
    return f'{name}님은 {age}살입니다.'

SyntaxError: non-default argument follows default argument (3665218782.py, line 1)

In [5]:
def greeting(age, name='익명'):           # 순서는 위치인수를 사용한 후 기본값을 사용하는 것
    return f'{name}님은 {age}살입니다.'     # 값을 하나 입력하거나 두 개 입력했을 때 무엇인지 모르기 때문

print(greeting(10, '홍길동'))
print(greeting(20))

홍길동님은 10살입니다.
익명님은 20살입니다.

In [8]:
def greeting(age = 20, name='익명'):           # 순서는 위치인수를 사용한 후 기본값을 사용하는 것
    return f'{name}님은 {age}살입니다.'     # 값을 하나 입력하거나 두 개 입력했을 때 무엇인지 모르기 때문

print(greeting(10, '홍길동'))
print(greeting(20))

홍길동님은 10살입니다.
익명님은 20살입니다.

### 키워드 인자

함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 특정인자를 전달 가능

In [9]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

print(greeting(10, '홍길동'))
print(greeting(name='홍길동',age=10))

홍길동님은 10살입니다.
홍길동님은 10살입니다.

In [11]:
print('안녕')
print('안녕', '하세요', 'hi', sep='!', end='?')  # sep은 사이사이 end는 마지막

안녕
안녕!하세요!hi?

### 가변 인자 리스트

```python
def func(*params):
    pass
```

In [12]:
def my_print(*words):
    print(words)
    print(type(words))

my_print('hi', 'hello', '안녕', '하세요')  
# *words에서 * : 인자가 몇개가 들어오더라도 하나의 데이터로 처리

('hi', 'hello', '안녕', '하세요')
<class 'tuple'>

In [16]:
def my_max(*numbers):
    print(numbers)
    
my_max = (1, 2, 3, 4, 5)

In [17]:
def my_max(*numbers):
    result = numbers[0]   # 0으로 하면 음수일때 오류가 생기므로 이렇게 설정

    for number in numbers:
        if result < number:
            result = number
    return result

In [18]:
print(my_max(1, 2, 3, 4, 5))
print(my_max(-1, -2, -3, -4, -5))

5
-1

### 정의되지 않은 키워드 인자 처리하기

```python
def func(**kwargs):
    pass
```

In [19]:
info = {
    'name': 'hong',
    'age': 20,
}

print(info)

{'name': 'hong', 'age': 20}

In [20]:
info = dict(name='hong', age=20, iii=123)
print(info)

{'name': 'hong', 'age': 20, 'iii': 123}

In [21]:
def fake_dict(**kwargs):    # 하나의 dictionary로 묶이게 됨
    print(kwargs)
    print(type(kwargs))

fake_dict(korean='안녕', english='hello')

{'korean': '안녕', 'english': 'hello'}
<class 'dict'>

In [22]:
def fake_dict(**kwargs):    # 하나의 dictionary로 묶이게 됨
    for key, value in kwargs.items():
        print(f'{key}는 {value}입니다.')

fake_dict(korean='안녕', english='hello')

korean는 안녕입니다.
english는 hello입니다.

### dictionary를 인자로 넣기 (unpacking)

In [23]:
def sign_up(username, password, password_confirmation):
    if password == password_confirmation:
        print(f'{username}님 회원가입이 완료되었습니다.')
    else:
        print(f'비밀번호가 일치하지 않습니다.')

sign_up('minj', 'ochange' , 'hlmj3017')

비밀번호가 일치하지 않습니다.

In [24]:
my_account = {
    'username': 'minj12',
    'password': 'sd234',
    'password_confirmation': 'sd234',
}

sign_up(**my_account)

minj12님 회원가입이 완료되었습니다.

### lambda 표현식

```python
lambda parameter: expression
```

In [27]:
(lambda a, b: a+b)(1,2)

3

In [28]:
def my_sum(a,b):
    return a+b

my_sum(1,2)

3

### 타입 힌트

In [29]:
def my_sum(num1: int, num2: int) -> int:  # 함수 어노테이션
    '''
    두 수의 합을 구하는 함수입니다.
    매개변수 num1, num2를 받아서 num1 + num2를 리턴합니다.
    '''
    return num1 + num2

my_sum(1, 2)
my_sum('1', 2)

TypeError: can only concatenate str (not "int") to str

### 이름공간 (scope)

파이썬에서 사용되는 이름들은 이름공간(namespace)에 저장되어있습니다.

- Local scope: 정의된 함수 내부
- Enclosed scope: 상위 함수
- Global scope: 함수 밖의 변수 혹은 import된 모듈
- Built-in scope: 파이썬이 기본적으로 가지고 있는 함수 혹은 변수

In [30]:
a = 1
def localscope(a):
    # a = 5            # 함수 내에 있는 것이 우선
    print(a)

localscope(5)

5

In [31]:
num = 10
def scope():
    global num
    num = 20
    print(num)

scope()
print(num) # 외부에 있는 전역 변수가 수정됨

20
20

### 재귀 (recursive)

재귀함수는 함수 내부에서 자기 자신을 호출하는 함수를 의미한다.

In [32]:
# 팩토리얼 (1 * 2 * ... * n = n!)
def fact(n):
    result = 1

    while n > 1:
        result = result * n
        # result *= n
        n = n - 1
        # n -= 1

    return result

fact(5)

120

```
1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3
```

```python
fact(5)
fact(fact(4) * 5)
fact(fact(fact(3) * 4) * 5)

print('hello')
```

In [33]:
def factorial(n):
    if n <= 1:
        return 1
    else:
        return factorial(n-1) * n
        # 10! = 9! * 10 = ... = 1! = 1

factorial(5)

120

### 피보나치 수열

```
F(0) = F(1) = 1
F(n) = F(n-1) + F(n-2)

```

In [34]:
# 반복문
def fib_loop(n):
    result = [1, 1]

    for i in range(1, n):
        end1 = result[-1]
        end2 = result[len(result)-2]
        fib_num = end1 + end2

        result.append(fib_num)
        
    return result[-1]

fib_loop(6)

13

In [35]:
# 재귀
def fib_rec(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib_rec(n-1) + fib_rec(n-2)

fib_rec(6)

13